<!DOCTYPE html>
<html lang="en">
<head>

    <link href="../style.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        div.gallery {
            border: 1px solid #ccc;
        }

        div.gallery:hover {
            border: 2px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

        div.desc {
            padding: 15px;
            text-align: center;
        }


        * {
            box-sizing: border-box;
        }


        .responsive {
            padding: 0 6px;
            float: left;
            width: 24.99999%;
        }

        @media only screen and (max-width: 700px) {
            .responsive {
                width: 49.99999%;
                margin: 6px 0;
            }
        }

        @media only screen and (max-width: 500px) {
            .responsive {
            width: 100%;
            }

        .clearfix:after {
            content: "";
            display: table;
            clear: both;}
    </style>
</head>
<body>

  <div id="headBg" >
            <h1>Dublin Bikes</h1>
            <p>Find your best station!</p>
          </div>

    <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index">Dublin Bikes.</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="index">Home</a></li>
                <li class="active"><a href="gallery">Gallery</a></li>
              </ul>
            </div>
          </div>
        </nav>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../images/t9.jpg">
          <img src="../images/t9.jpg" alt="Mountains">
        </a>
        <div class="desc">Street View</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../images/t10.jpg">
          <img src="../images/t10.jpg" alt="Mountains">
        </a>
        <div class="desc">Street View</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../images/t11.jpg">
          <img src="../images/t11.jpg" alt="Mountains">
        </a>
        <div class="desc">Street View</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../images/t12.jpg">
          <img src="../images/t12.jpg" alt="Mountains">
        </a>
        <div class="desc">Street View</div>
      </div>
    </div>

    <div><p>.</p></div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../images/t13.jpg">
          <img src="../images/t13.jpg" alt="Mountains">
        </a>
        <div class="desc">Street View</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../images/t14.jpg">
          <img src="../images/t14.jpg" alt="Mountains">
        </a>
        <div class="desc">Malta</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../images/t15.jpg">
          <img src="../images/t15.jpg" alt="Mountains">
        </a>
        <div class="desc">Street View</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../images/t16.jpg">
          <img src="../images/t16.jpg" alt="Mountains">
        </a>
        <div class="desc">Street View</div>
      </div>
    </div>

    <div><p>.</p></div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../images/t1.jpg">
          <img src="../images/t1.jpg" alt="Cinque Terre">
        </a>
        <div class="desc">Howth</div>
      </div>
    </div>


    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../images/t2.jpg">
          <img src="../images/t2.jpg" alt="Forest">
        </a>
        <div class="desc">Howth</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../images/t3.jpg">
          <img src="../images/t3.jpg" alt="Northern Lights">
        </a>
        <div class="desc">Howth</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../images/t4.jpg">
          <img src="../images/t4.jpg" alt="Mountains">
        </a>
        <div class="desc">GUINNESS Museum</div>
      </div>
    </div>

    <div><p>.</p></div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../images/t5.jpg">
          <img src="../images/t5.jpg" alt="Mountains">
        </a>
        <div class="desc">Temple Bar</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../images/t6.jpg">
          <img src="../images/t6.jpg" alt="Mountains">
        </a>
        <div class="desc">River Liffey</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../images/t7.jpg">
          <img src="../images/t7.jpg" alt="Mountains">
        </a>
        <div class="desc">River Liffey</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../images/t8.jpg">
          <img src="../images/t8.jpg" alt="Mountains">
        </a>
        <div class="desc">UCD</div>
      </div>
    </div>

</body>
</html>