<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dublin Bikes App</title>

    <link href="../style.css" rel="stylesheet" type="text/css">
{#    <script type="text/javascript" src="../main.js"></script>#}

{#    navigation bar#}
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
{#    google.visualization#}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{#    used to import google map#}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_GFOa8RKF4FM4SkpVD6LJdz0fI86pIac&callback=initMap"
            type="text/javascript">
    </script>

</head>

<body>

    <div id="headBg" style="margin-bottom:0">
            <h1>Dublin Bikes</h1>
            <p>Find your best station!</p>
          </div>

    <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Dublin Bikes.</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="index">Home</a></li>
                <li><a href="predict_forecast">Prediction</a></li>
              </ul>
            </div>
          </div>
        </nav>


    <div id="map"></div>

    <div id="sidebar">

        <div id="weather">
        <div id="icon"></div><p id="currentWeather"></p>
            <p id="currentTemp"></p><p id="windSpeed"></p>
            <br>
        </div>

        <div class="charts" id ="daily_div"></div>

    </div>




<script>


function initMap() {
    // ROOT is the location of our flask app
    ROOT = window.location.origin;
    // radius units are metres
    radius = 23, zoom = 14;
    var centre = {
        lat: 53.346763,
        lng: -6.2568436
    };
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: zoom,
        center: centre
    });
    var infoWindow = new google.maps.InfoWindow();
    $.getJSON('http://127.0.0.1:5000/dynamic_stations', null, function (data) {
        var stations = data.stations;
        $.each(stations, function (i,station) {
            if (20<=station.available_bikes) {
                var marker = new google.maps.Marker({
                position: {
                    lat: station.position.lat,
                    lng: station.position.lng
                },
                icon: {
                  url: "http://maps.google.com/mapfiles/ms/icons/green-dot.png"
                },
                map: map,
                title: station.name,
                number: station.number
            });
            }
            else if (station.available_bikes<=10) {
                var marker = new google.maps.Marker({
                position: {
                    lat: station.position.lat,
                    lng: station.position.lng
                },
                icon: {
                  url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
                },
                map: map,
                title: station.name,
                number: station.number
            });
            }
            else {
                var marker = new google.maps.Marker({
                position: {
                    lat: station.position.lat,
                    lng: station.position.lng
                },
                icon: {
                  url: "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"
                },
                map: map,
                title: station.name,
                number: station.number
            });
            }
            marker.metadata = {type: "point", id: station.number};
            google.maps.event.addListener(marker, 'click', (function(marker, stations) {
                return function() {
                    if (station.banking == 1) {
                        station.banking = "Yes";
                    } else {
                        station.banking = "No";
                    }
                    let number = station.number;
                    let station_name = station.name;
                    let available_bikes = station.available_bikes;
                    let available_bike_stands = station.available_bike_stands;
                    let station_bank = station.banking;
                    let station_status = station.status;


                    var content =
                        '<div id="info">\n' +
                        '        <p>Station name: '+ station_name +'</p>\n' +
                        '\n' +
                        '        <p>Available Bikes: '+ available_bikes +'</p>\n' +
                        '\n' +
                        '        <p>Available Bike Stands: '+ available_bike_stands +'</p>\n' +
                        '\n' +
                        '        <p>Banking: '+ station_bank +'</p>\n' +
                        '\n' +
                        '        <p>Status: '+ station_status +'</p>\n' +
                        '        <br>\n' +
                        '        <button id="info_btn" onclick=info_btn() style="display: inline">Current Information</button>\n' +
                        '        <button id="prediction_btn" onclick=prediction_btn() style="display: inline">Prediction</button>\n' +
                        '        <button id="chart_btn" onclick=daily_chart(' + number + ') style="display: inline">Show Week Chart</button>\n' +
                        '    </div>\n' +
                        '    <div id="prediction" style="display:none;">\n' +
                        '        <p>Please select a day within 3 days.</p>\n' +
                        '        <input type="date" name="date" id="prediction_date">\n' +
                        '        <select id="prediction_time">\n' +
                        '            <option value="00:00:00">00:00:00</option>\n' +
                        '            <option value="03:00:00">03:00:00</option>\n' +
                        '            <option value="06:00:00">06:00:00</option>\n' +
                        '            <option value="09:00:00">09:00:00</option>\n' +
                        '            <option value="12:00:00">12:00:00</option>\n' +
                        '            <option value="15:00:00">15:00:00</option>\n' +
                        '            <option value="18:00:00">18:00:00</option>\n' +
                        '            <option value="21:00:00">21:00:00</option>\n' +
                        '        </select>\n' +
                        '        <br><br>\n' +
                        '        <button onclick=show_forecast() type="button">Show Weather Forecast</button>\n' +
                        '        <br>\n' +
                        '        <div id="weather_prediction">\n' +
                        '        </div>\n' +
                        '        <br>\n' +
                        '        <button onclick=show_occupancy_prediction(' + number + ') type="button">Show Bikes Prediction</button>\n' +
                        '        <br>\n' +
                        '        <div id="occupancy_prediction">\n' +
                        '        </div>\n' +
                        '        <br>\n' +
                        '        <button id="info_btn" onclick=info_btn() style="display: inline">Current Information</button>\n' +
                        '        <button id="prediction_btn" onclick=prediction_btn() style="display: inline">Prediction</button>\n' +
                        '        <button id="chart_btn" onclick=daily_chart(' + number + ') style="display: inline">Show Week Chart</button>\n' +
                        '    </div>';
                    infoWindow.setContent(content);
                    infoWindow.open(map, marker);
                }
            })(marker, stations));
        });
    });
}



    get_weather();

    function get_weather(){
    //call weather API from openweathermap

    $.getJSON('http://api.openweathermap.org/data/2.5/weather?q=Dublin,ie&units=metric&appid=5508cb29a72478e8bc8021bbe590ee4e',function(data){
    var weather = data.weather[0].description;
    var temp=data.main.temp;
    var windSpeed=data.wind.speed;
    var icon = data.weather[0].icon;
    var iconUrl = ("<img src='http://openweathermap.org/img/w/" + icon + ".png'>");

    $("#icon").html(iconUrl);
    $("#currentWeather").html("Current Weather: " + weather);
    $("#currentTemp").html("Tempreture: " + temp + " °C");
    $("#windSpeed").html("Wind Speed: " + windSpeed + " m/s");


        });
    }


    function daily_chart(number) {

        google.charts.load("visualization", "1", {packages:["corechart"]});
        $.getJSON("http://127.0.0.1:5000/daily/" + number, null, function (data) {
            google.charts.setOnLoadCallback(drawChart(data));
        });

        function drawChart(data) {
            var avg_bikes = data.week_average_bikes;
            var avg_stands = data.week_average_stands;
            var daily = new google.visualization.DataTable(avg_bikes);

            daily.addColumn('string', 'Day');
            daily.addColumn('number', 'Bikes');
            daily.addColumn('number', 'Stands');

            daily.addRows([
                ['Sunday', avg_bikes[0], avg_stands[0]],
                ['Monday', avg_bikes[1], avg_stands[1]],
                ['Tuesday', avg_bikes[2], avg_stands[2]],
                ['Wednesday', avg_bikes[3], avg_stands[3]],
                ['Thursday', avg_bikes[4], avg_stands[4]],
                ['Friday', avg_bikes[5], avg_stands[5]],
                ['Saturday', avg_bikes[6], avg_stands[6]]
            ]);

            //Set chart options
            var options = {'title': 'Daily Averages:', 'width': 450, 'height': 400};

            //instantiate and draw our chart, passing in some options
            var chart = new google.visualization.BarChart(document.getElementById('daily_div'));
            chart.draw(daily, options);
        }
    }

    function prediction_btn() {
        document.getElementById('info').style.display = 'none';
        document.getElementById('prediction').style.display = 'block';
    }
    function info_btn() {
        document.getElementById('info').style.display = 'block';
        document.getElementById('prediction').style.display = 'none';
    }

    function show_forecast() {
        var date = document.getElementById("prediction_date").value;
        var time = document.getElementById("prediction_time").value;
        var show = document.getElementById("weather_prediction");
        $.getJSON('http://api.openweathermap.org/data/2.5/forecast?appid=9511c6f09bf671d3bd65bf650197234f&units=metric&q=Dublin', function(data) {
            var result = data.list;
            for (i = 0; i <
                result.length; i++) {
                var temp = result[i].main.temp;
                var weather = result[i].weather[0].main;
                var wind = result[i].wind.speed;
                var target = result[i].dt_txt;
                if (target == date + " " + time) {
                    show.innerHTML = ("Weather: " + weather + " <br />" + "Temperture: " + temp + " °C" + "<br />" + "Wind Speed: " + wind + " m/s");
                }
            }
        });
    }

    function show_occupancy_prediction(number, time) {
        var time = document.getElementById("prediction_time").value;
        var int_hour = Number(time.slice(0, 2));
        console.log(int_hour);
        $.getJSON("http://127.0.0.1:5000/bikes_prediction/" + number + "/" + int_hour, null, function(data) {
            var show = document.getElementById("occupancy_prediction");
            show.innerHTML = ("Available Bikes: " + data.bp);
        });
    }
</script>
</body>
</html>
