#headBg {
    height: 140px;
    background-image: url(../nav.jpg);
    text-align: center;
}

#headBg h1{
    margin-top: 0;
    margin-bottom: 5px;
    color: aliceblue;
    padding-top: 40px;
    font-size: 50px;
}

#headBg p {
    padding-top: 0;
    color: aliceblue;
    font-size: 20px;
}



#map {
    width: 55%;
    height: calc(100vh - 250px);
    float: left;
    margin-left: 70px;
    /*border:1px solid ;*/
    padding:0;
}


#sidebar {
    width: 30%;
    background: #ffffff;
    color: #000000;
    transition: all 0.3s;
    text-align: center;
    margin-left: 100px;
    float:left;
}

#weather {
    background-color: antiquewhite;
    position: relative;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

#weather:before {
    content:"";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid antiquewhite;
    border-bottom: 13px solid transparent;
 }

